*
*.orig
!.ackrc
!.bash_functions
!.bash_profile
!.bashrc
!.gitignore
!.gitignore_global
!.irbrc
!.pryrc
!.pythonrc
!.railsrc
!.tmux.conf
!.vim
!.vim/*
!.vim/**
!.vim/**/*
!.vim/**/**
!.vim/**/**/*
!.vim/**/**/**
!.vim/**/**/**/*
!.vim/**/**/**/**
!.vim/**/**/**/**/*
!.vim/**/**/**/**/**
!.vim/**/**/**/**/**/*
!.vim/**/**/**/**/**/**
!.vim/**/**/**/**/**/**/*
!.vim/**/**/**/**/**/**/**
!.vim/**/**/**/**/**/**/**/*
!.vim/**/**/**/**/**/**/**/**
!.vim/**/**/**/**/**/**/**/**/*
!.vimrc
!README.md
